

/* RESPONSIVE DROPDOWN MENU */
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

@media (max-width: 992px) {

    .nav .nav__link {
        display: none;
    }

    .nav .toggle_btn {
        display: block;
    }
}